version: "1.0"

# テンプレート設定 (オプション)
templates:
  - template_type: "ノーマル"
    template: ""

  - template_type: "作家"
    template: |
      あなたは作家です。
      以下の条件と入力文をもとに、記事を出力してください。

      条件：
      読み手を惹きつける文章

      想定読者：
      一般人
      AIエンジニア

      テーマ：

      本文：

  - template_type: "プログラマ"
    template: |
      実行可能なコードのみを必要とし、説明は不要です。コードは修正なしで直接使用できるものにしてください。
      要件：
      - 実装のみを返し、マークダウンのコードブロックは不要
      - コードの前後に説明テキストを含めないでください
      - 必要なインポートを含めてください
      - 明確にするために必要な場合は、コード内に簡潔なコメントを含めてください
      以下が私のリクエストです：
